body{
    font-family: 'Popins' , sans-serif;
    margin: 0;
}
h1{
    font-size: 80px;
}

.or{
    color: coral;
}
section{
    display: flex;
    margin-bottom: 200px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width p{
    width: 70%;
    font-size: 30px;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color:white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 30px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.sec2{
    width: 50%;
    padding-left: 5px ;
}
.sec2 img{
    width: 40%%;
}
.sec2 p{
    width: 60%;
    font-size: 20px;
    text-align: justify;
}
.Exp-area{
    display: flex;
}
.exp{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 30px grey;
    
}
.exp h1{
    font-size: 50px;
}
.exp p{
    font-size: 30px;
    
}
.exp-item{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#programmer{
    border-left:10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#developer{
    border-left:10px solid;
    border-image: linear-gradient(rgb(201, 6, 143),rgb(252, 78, 4));
    border-image-slice:1;
}
footer{
    text-align: center;
    font-size: 20px;
    color:darkred;
}